html {
  *, ::before, ::after {
  }

  .js-noCursor {
    cursor: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
  }

  // dimension

  .js-dimension {
    position: fixed;
    width: 0;
    height: 0;
    z-index: 99999999;
    pointer-events: none;
  }

  .js-dimension.on + .dimension__nocursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
    z-index: 99999999;
  }

  .dimension__nocursor_hide {
    pointer-events: none;
  }

  .js-dimension__tooltip {
    position: absolute;
    left: 5px;
    bottom: 4px;
    width: auto;
    color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
    font-family: sans-serif;
    padding: 0px 5px;
    border-radius: 3px;
    background: rgba(0, 30, 51, 0.7);
  }

  .js-dimension__tooltip.translateX {
    left: auto;
    right: 4px;
  }

  .js-dimension__tooltip.translateY {
    bottom: auto;
    top: 4px;
  }

  .js-dimension.on .js-dimension__axis.x {
    height: 1px;
    background: #707aff;
  }

  .js-dimension.on .js-dimension__axis.y {
    width: 1px;
    background: #707aff;
  }


  // rectangle-ruler

  .rectangle-ruler__nav {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;

    &:hover div {
      opacity: 1 !important;
    }
  }

  .rectangle-close {
    position: absolute !important;
    padding: 5px !important;
    top: -11px !important;
    right: -11px !important;
    width: 22px !important;
    height: 22px !important;
    background-color: #fff !important;
    box-shadow: 1px 2px 5px rgba(0, 30, 51, 0.7) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='close'%3E%3Crect width='24' height='24' transform='rotate(180 12 12)' opacity='0'/%3E%3Cpath d='M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-position: -1px -1px !important;
    border-radius: 50% !important;
    cursor: default !important;
    z-index: 1 !important;
    transition: .2s !important;
    opacity: 0 !important;
    box-sizing: border-box !important;

    &:hover {
      opacity: 1 !important;
    }

    &:active {
      transform: scale(.9) !important;
    }
  }

  .rectangle-pin {
    position: absolute !important;
    padding: 5px !important;
    top: -11px !important;
    right: 21px !important;
    width: 22px !important;
    height: 22px !important;
    background-color: #fff !important;
    box-shadow: 1px 2px 5px rgba(0, 30, 51, 0.7) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.3049 0.146988L39.8529 12.6968C40.0492 12.8925 40.0492 13.2128 39.8529 13.4091L35.5794 17.682C35.3834 17.8787 35.0631 17.8787 34.8675 17.682L33.6526 16.4677L28.0201 22.0998C29.2838 26.8598 28.051 32.1455 24.3189 35.8773C24.2323 35.9646 24.1447 36.0496 24.0559 36.1335C23.729 36.4444 23.7814 36.4425 23.4657 36.1267L15.4939 28.1542L0 40.0002L11.8487 24.5089L3.86527 16.5253C3.5469 16.2063 3.5736 16.2564 3.88675 15.9273C3.96488 15.8456 4.04463 15.7635 4.12568 15.6822C7.85716 11.9503 13.1433 10.7165 17.9025 11.9806L23.5344 6.34849L22.3192 5.13352C22.1236 4.93786 22.1236 4.61751 22.3192 4.4212L26.5923 0.146988C26.789 -0.0486705 27.1093 -0.0486705 27.3049 0.146988Z' fill='black'/%3E%3C/svg%3E%0A") !important;
    background-position: 50% 50% !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    border-radius: 50% !important;
    cursor: default !important;
    z-index: 1 !important;
    transition: .2s !important;
    opacity: 0 !important;
    box-sizing: border-box !important;

    &:hover {
      opacity: 1 !important;
    }

    &:active {
      transform: scale(.9) !important;
    }
  }

  .rectangle-pin.active {
    background-color: #ebebeb !important;
    transform: scale(.9) !important;
  }

  .rectangle-ruler {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    z-index: 999999 !important;
  }

  .rectangle-ruler__no-cursor {
    position: absolute !important;
    top: -50px !important;
    left: -50px !important;
    width: 100px !important;
    height: 100px !important;
    cursor: default !important;
  }

  .rectangle-ruler__rectangle {
    position: fixed !important;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 300px;
    //background-color: #707aff66;
    background-color: rgba(112, 122, 255, 0.2);
    //filter: drop-shadow(0px 0px 10px rgba(112, 122, 255, 0.4));
    //background-color: rgba(112, 122, 255, 0.1);
    box-sizing: border-box;
    border: 1px solid rgba(0, 30, 51, 0.7);
  }

  .rectangle-ruler__rectangle.rectangle-ruler__rectangle_fix {
    position: absolute !important;
  }

  .rectangle-ruler__tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .rectangle-ruler__tooltip > div {
    position: absolute;
    //left: 5px;
    //bottom: 4px;
    width: auto;
    color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
    font-family: sans-serif;
    padding: 0px 5px;
    //border-radius: 3px;
    background: rgba(0, 30, 51, 0.7);
  }

  .tooltip__top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 3px 3px 0 0;
  }

  .tooltip__bottom {
    display: block !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 0 0 3px 3px;
    opacity: 1 !important;
    transition: .2s !important;
  }

  .rectangle-tooltip__size.hide {
    opacity: 0 !important;
  }

  .rectangle-tooltip__pos.hide {
    opacity: 0 !important;
  }

  .tooltip__left {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    border-radius: 3px 0 0 3px;
  }

  .tooltip__right {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-radius: 0px 3px 3px 0;
  }

  // ui-resizable
  .ui-resizable {
    cursor: move;
    user-select: none;
  }

  .ui-resizable-n {
    position: absolute;
    top: -3px;
    left: 5px;
    width: calc(100% - 10px);
    height: 8px;
    cursor: n-resize;
  }

  .ui-resizable-w {
    position: absolute;
    top: 5px;
    left: -3px;
    width: 8px;
    height: calc(100% - 10px);
    cursor: w-resize;
  }

  .ui-resizable-s {
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: calc(100% - 10px);
    height: 8px;
    cursor: s-resize;
  }

  .ui-resizable-e {
    position: absolute;
    top: 5px;
    right: -3px;
    width: 8px;
    height: calc(100% - 10px);
    cursor: e-resize;
  }

  .ui-resizable-se {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 8px;
    height: 8px;
    cursor: se-resize;
  }
}

// rails

.rail-x {
  position: absolute !important;
  height: 7px !important;
  padding: 3px 0 !important;
  background: rgba(255, 255, 255, 0) !important;
  transform: translateY(-50%) !important;
  box-sizing: border-box !important;
  z-index: 99999;

  &::before {
    content: '';
    display: block !important;
    background: #ff70f8 !important;
    width: 100% !important;
    height: 1px !important;
  }
}

.rail-y {
  position: absolute !important;
  width: 7px !important;
  padding: 0 3px !important;
  background: rgba(255, 255, 255, 0) !important;
  transform: translateX(-50%) !important;
  box-sizing: border-box !important;
  z-index: 99999;

  &::before {
    content: '';
    display: block !important;
    background: #ff70f8 !important;
    width: 1px !important;
    height: 100% !important;
  }
}

// window-wh

.window-wh {
  position: fixed;
  top: 2px;
  right: 2px;
  width: auto;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 20px;
  font-family: sans-serif;
  padding: 0px 5px;
  background: rgba(0, 30, 51, 0.7);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 999999;

  opacity: 0 !important;
  transition: all 0.2s ease 0s !important;
}

.window-wh_show {
  opacity: 1 !important;
}
