body {
  padding: 5px;
  width: 570px;
  background-color: #202124;
}

.reset-settings {
  width: 200px;
  margin-left: calc(100% - 200px);
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #853838;
  color: #dfd9d9;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: block;
  margin: 0;
  padding: 2px 0 2px 10px;
  cursor: default;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

li .hotkey {
  position: absolute;
  top: 2px;
  right: 0;
  margin-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #ccc;
  cursor: pointer;
}

li .hotkey.hotkey_hide {
  opacity: 0;
}

li .hotkey-input {
  position: absolute;
  top: -2px;
  right: 0;
  width: 245px;
  height: 20px;
  padding: 3px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;

  transition: .1s;
  opacity: 0;
  pointer-events: none;
}


li .hotkey-input.hotkey-input_show {
  transition: 0s;
  opacity: 1;
  pointer-events: all;
}

.name {
  display: block;
  margin: 0;
  width: calc(100% - 80px);
  font-size: 16px;
  color: #eee;
  cursor: default;
}

//

.color-hold {
  width: calc(100% - 200px);
}

//
.hr {
  display: block;
  height: 30px;
}