body {
  padding: 5px;
  width: 450px;
  background-color: #202124;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: block;
  margin: 0;
  padding: 2px 0 2px 10px;
  //border-left: 1px solid #999;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.name {
  display: block;
  margin: 0;
  width: calc(100% - 80px);
  font-size: 16px;
  color: #eee;
  cursor: default;
  //cursor: pointer;

  //&:hover {
  //  color: #707aff;
  //}
}

li .hotkey {
  position: absolute;
  top: 2px;
  right: 0;
  margin-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #ccc;
  cursor: default;
}

//

.color-hold {
  width: calc(100% - 200px);
}

//
.hr {
  display: block;
  height: 30px;
}